<form (ngSubmit)="add()">
  <p class="p-3 mb-2 bg-primary text-white">Articulos</p>
  <p class="bg-warning text-danger">Union con ngModel ngSubmit descompuesto por partes(7)</p>
  <label class="form-label">Introduce la referencia</label>
  <input [(ngModel)]="articulo.ref" name="ref" type="string" class="form-control">
  <label class="form-label">Introduce una breve descripcion</label>
  <input [(ngModel)]="articulo.descripcion" name="descripcion" type="string" class="form-control">
  <label class="form-label">Introduce precio</label>
  <input [(ngModel)]="articulo.precio"  name="precio" type="number" class="form-control">
  <label class="form-label">Introduce el iva</label>
  <input [(ngModel)]="articulo.iva" name="iva" type="number" class="form-control">
  <label class="form-label">Introduce el stock</label>
  <input [(ngModel)]="articulo.stocks" name="stocks" type="number" class="form-control">
  <button class="btn btn-success" type="submit">Añadir</button>

</form>
