<form [formGroup]="formGroup" (ngSubmit)="add()">
  <div class="row">
  <div class="form-group col-2">
    <label class="form-label">Introduce la referencia</label>
    <input name="ref" type="text" class="form-control" formControlName="ref">
  </div>
  <div class="form-group col-2">
    <label class="form-label">Introduce la descripcion</label>
    <input name="descripcion" type="text" class="form-control" formControlName="descripcion">
  </div>
  <div class="form-group col-2">
    <label class="form-label">Introduce el precio</label>
    <input name="precio" type="text" class="form-control" formControlName="precio">
  </div>
  <div class="form-group col-2">
    <label class="form-label">Introduce el iva</label>
    <input name="iva" type="text" class="form-control" formControlName="iva">
  </div>
  <div class="form-group col-2">
    <label class="form-label">Introduce el stock</label>
    <input name="stocks" type="text" class="form-control" formControlName="stocks">
  </div>
<div class="align-self-end col-2">
  <button class="btn btn-success" type="submit">Añadir</button>
</div>
</div>
</form>
